<h2 class="content-block">직원 목록</h2>

<div class="list-container">
  <div class="crud-buttons">
    <dx-text-box [(value)]="filter" class="search-bar" placeholder="이름으로 조회" (onEnterKey)="search()">
    </dx-text-box>
    <dx-button
      class="crud-button"
      text="조회"
      (onClick)="search()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="생성"
      (onClick)="create()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="변경"
      [disabled]="!getSelectedEmployeeId()"
      (onClick)="update()"
    ></dx-button>
    <dx-button
      class="crud-button"
      text="삭제"
      [disabled]="!getSelectedEmployeeId()"
      (onClick)="delete()"
    ></dx-button>
  </div>

  <dx-data-grid
    [dataSource]="employees"
    [showBorders]="true"
    [remoteOperations]="true"
    [hoverStateEnabled]="true"
    [selectedRowKeys]="[]"
  >
    <dxi-column dataField="id" dataType="number" caption="ID" [width]="100"></dxi-column>
    <dxi-column dataField="name" dataType="string" caption="이름"></dxi-column>
    <dxi-column dataField="gender" dataType="string" caption="성별" [customizeText]="displayGender" [width]="100"></dxi-column>
    <dxi-column dataField="birthDate" dataType="date" caption="생년월일" [format]="{ type: 'yyyy-MM-dd' }"></dxi-column>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
      [visible]="true"
    ></dxo-pager>
  </dx-data-grid>
</div>

<sample-employee-edit-popup (onSaved)="onSaved($event)"></sample-employee-edit-popup>
